<div class="ebiacademy-book-page-header">
  <div class="ebiacademy-book-page-header--container">
    <h1 class="ebiacademy-book-page-header--title">{{ title }}</h1>
    <span class="ebiacademy-book-page-header--subtitle">{{ subtitle }}</span>
  </div>
  <div class="ebiacademy-book-page-header--summary">
    <i class="icon icon-common icon-hourglass-half"></i> {{ summary }}
  </div>
  <div class="ebiacademy-book-page-header--home">
    <a href="{{ home }}" class=""><i class="icon icon-common icon-play"></i> Home</a>
  </div>
</div>