// vf-local-overrides

// **Thinking about deleting this file?**
// If your component needs no CSS/Sass, we still recommend leaving the
// scss files in place. As this is primarily a CSS framework, it is better to
// leave the empty files so you know a file wasn't accidently omitted.
// If you don't have any Sass, you can trim this block down to:
// "This page was intentionally left blank"


@import 'vf-local-overrides.variables.scss';

.ebiacademy-book-cover-navigation-bar nav ul.vf-pagination__list li {
    border-right: 2px solid #d0d0ce;
    float: left;
    margin-left: 0;
    /* compliance compatibility */
    // border-top: 1px solid #d0d0ce;
}

.ebiacademy-book-cover-navigation-bar nav ul.vf-pagination__list li:last-child,
.ebiacademy-book-cover-navigation-bar nav ul.vf-pagination__list li.active {
    border-right: 0;
}

.ebiacademy-book-cover-navigation-bar nav ul.vf-pagination__list li.float-right {
    border-right: none;
}

.ebiacademy-book-cover-navigation-bar nav a, .ebiacademy-book-cover-navigation-bar a:visited {
    border: none;
}
