<nav class="vf-pagination" aria-label="Navigation">
  <ul class="vf-pagination__list">
    <li class="vf-pagination__item">
      <a href="#overview" class="vf-pagination__link vf-u-type__text-body--2">
        <span class="vf-sr-only">Section </span>Overview
      </a>
    </li>
    <li class="vf-pagination__item">
      <a href="#objectives" class="vf-pagination__link vf-u-type__text-body--2">
        Objectives
      </a>
    </li>
    <li class="vf-pagination__item">
      <a href="#audience" class="vf-pagination__link vf-u-type__text-body--2">
        Audience
      </a>
    </li>
    <li class="vf-pagination__item">
      <a href="#requirements" class="vf-pagination__link vf-u-type__text-body--2">
        Requirements
      </a>
    </li>
    <li class="vf-pagination__item">
      <a href="#more" class="vf-pagination__link vf-u-type__text-body--2">
        More
      </a>
    </li>
  </ul>
</nav>
