<nav class="vf-pagination" aria-label="Navigation">
  <ul class="vf-pagination__list">
    <li class="vf-pagination__item">
      <a href="#" class="vf-pagination__link">
        <span class="vf-sr-only">Section </span>Overview
      </a>
    </li>
    <li class="vf-pagination__item">
      <a href="#" class="vf-pagination__link">
        Objectives
      </a>
    </li>
    <li class="vf-pagination__item">
      <a href="#" class="vf-pagination__link">
        Audience
      </a>
    </li>
    <li class="vf-pagination__item">
      <a href="#" class="vf-pagination__link">
        Requirements
      </a>
    </li>
    <li class="vf-pagination__item">
      <a href="#" class="vf-pagination__link">
        More
      </a>
    </li>
  </ul>
</nav>
