$componentInfo: (
             name: "@visual-framework/ebiacademy-book-image",
             version: "0.0.1",
             location: "components/ebiacademy-book-image",
             vfCoreVersion: "2.0.0-alpha.6"
          );