---
title: "Bioinformatics for the Terrified"
subtitle: An introduction to the science of bioinformatics
date: 2018-08-22 12:24:50
layout: layouts/base.njk
---

<div class="vf-u-margin__top--xxl"></div>

{% render '@ebiacademy-book-start', {title: title, subtitle: subtitle, time: "2 days", book_url: "/bioinformatics-book/book-page"} %}

<section class="embl-grid embl-grid--has-centered-content">
  <div><!-- empty --></div>
  <div>
    <!-- {% render '@ebiacademy-book-image', {path: "https://www.ebi.ac.uk/training/online/sites/ebi.ac.uk.training.online/files/styles/full_width/public/the_scream_new_0.jpg?itok=tmPFUAmC", alt_text: "My text"} %} */} -->
    <!-- {% render '@ebiacademy-book-image', {path: "/bioinformatics-book/images/the-scream.png", alt_text: "My text"} %}-->


{% render '@vf-figure--default', {
  text: "Edvard Munch, 1893, The Scream",
  alttext: "Figure on cliffside walkway holding head with hands",
  imageUrl: "http://localhost:8080/bioinformatics-book/images/the-scream.png"
} %}
     


  </div>
 <div>
 </div>
</section>


<section class="embl-grid embl-grid--has-centered-content">
  <div><!-- empty --></div>
  <div class="ebiacademy-book-cover-navigation-bar">
    {% include "partials/nav_bar.njk" %}
  </div>
 <div>
 </div>
</section>

<section class="embl-grid embl-grid--has-centered-content">
  <div><!-- empty --></div>
  <div>
    <p class="vf-u-type__text-body--1" id="overview">This course will give you a broad overview of how bioinformatics can enable bench-based research. It is aimed at experimental researchers in the molecular life sciences who have little or no previous experience of using bioinformatics databases or too.</p>

  </div>
 <div>
 </div>
</section>

<section class="embl-grid embl-grid--has-centered-content">
  <div><!-- empty --></div>
  <div class="vf-content" id="overview">
    <p>This course covers the following topics:</p>

    <ul class="vf-list vf-list--unordered">
      <li class="vf-list__item">Bioinformaics</li>
      <li class="vf-list__item">Data quality management</li>
      <li class="vf-list__item">Data management</li>
      <li class="vf-list__item">Ontology and terminology</li>
    </ul>

    <p>This course includes:

    <ul class="vf-list vf-list--inline">
      <li class="vf-list__item"><span class="vf-badge vf-badge--primary vf-badge--outline vf-badge--rounded"><i class="icon icon-common icon-question-circle"> </i> Quizzes</span></li>
      <li class="vf-list__item"><span class="vf-badge vf-badge--primary vf-badge--outline vf-badge--rounded"><i class="icon icon-common icon-video"> </i> Videos</span></li>
    </ul></p>
    <p><a href="#">View the course outline for more details</a>.</p>

  </div>
  <div><!-- empty --></div>
</section>

<section class="vf-intro | embl-grid embl-grid--has-centered-content">
  <div><!-- empty --></div>
  <div class="vf-content" id="objectives">
    <h2>What will you achieve?</h2>
    <p>By the end of the course you will be able to:</p>
    {% markdown %}
      - Assess the role of bioinformatics in molecular science
      - Describe the key features of primary and secondary databases
      - List strategies for describing data consistently
      - Identify some of the different types of data analysis that can be applied to solving biological problems
    {% endmarkdown %}

    <h2 id="audience">Who is this course for?</h2>
    <p>This course if aimed at elemental reseachers in molecular life sciences who have little or no previous experience of using bioinformatics databases or tools</p>

    <h2 id="requirements">What do you need to get started?</h2>
    <p>An undergraduate degree in a subject related to the molecular life sciences would be an advantage</p>
    <p>This course does not have any technical requirements</p>

    <h2 id="more">More information about this course</h2>
    <p>This course was written by:
      <ul class="vf-list vf-list--unordered">
        <li class="vf-list__item"><a href="#">Cath Brooksbank</a></li>
        <li class="vf-list__item"><a href="#">Andrew Cowley</a></li>
      </ul>
    </p>

    <p>Last reviewed: March 2018</p>
    <p>DOI: 10.6019/TOL.BioinfTer-c_2016.00001.1</p>
  </div>
</section>
