---
subtitle: No homepage, yet.
date: 2018-08-22 12:24:50
layout: layouts/base.njk
templateEngineOverride: njk, md
---

{% render '@vf-intro', {"vf_intro_phase": "alpha", "vf_intro_heading": siteConfig.siteInformation.title,
  "vf_intro_lede": siteConfig.siteInformation.short_description,
  "vf_intro_text": [
    "☝️ that also means dynamic building of just the CSS and JS you need."
  ]
} %}

<section class="embl-grid embl-grid--has-centered-content">
  <div>
    <!-- empty -->
  </div>
  <div class="vf-content">
  {% markdown %}


  {% endmarkdown %}

  </div>
</section>


<section class="vf-intro | embl-grid embl-grid--has-centered-content">

<div>
  <!-- empty -->
</div>
<div class="vf-content">



</div>
</section>
